$primary_color: #fcf5e8;
$primary_white: #ffffff;
$primary_purple: #6663f1;

$secondary_light: #f4ebd9;
$secondary_medium: #edd19e;
$secondary_dark: #c5b495;
$secondary_red: #ff8686;
$secondary_light_red: #f1d4c5;
$secondary_green: #93e677;
$secondary_light_green: #cde9b2;
$secondary_brown: #eddcbd;
$secondary_gray: #8f8f8f;
$secondary_light_black: rgba(0, 0, 0, 0.03);
