@import "./../../styles/varables.scss";

.footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 165px;
  height: 74px;
  background-color: $primary_white;
  .copyRight {
    color: $secondary_gray;
    font-size: 14px;
  }
  .refs {
    display: grid;
    grid-auto-flow: column;
    column-gap: 26px;
  }
}
